name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    name: Build and Test All Components
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Nix
        uses: cachix/install-nix-action@v16
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes

      - name: Cache Nix Store
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/nix
            ~/.nix-defexpr
            ~/.nix-profile
          key: ${{ runner.os }}-nix-${{ hashFiles('**/flake.lock') }}
          restore-keys: |
            ${{ runner.os }}-nix-

      - name: Run All Tests
        run: |
          nix develop .#x86_64-linux.devShells.default --command bash -c "
            # Moving Average Accumulator Test
            cd cores/moving_average_accumulator
            make test

            # DMA Library Test
            cd ../../dmalib
            zig build
            ./zig-out/bin/dmalib

            # Haskell Tests
            cd ../cores/pipelined_order_book
            cabal build
            cabal run test-library
            cabal run doctests
          "

