name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  moving-average-accumulator-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: |
          sudo apt-get install -y verilator make

      - name: Run Simulation
        run: |
          cd cores/moving_average_accumulator
          make test


  dmalib-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Install Zig (version 0.13)
      - name: Install Zig
        uses: mlugg/setup-zig@v1
        with:
          zig-version: '0.13.0'  # Specify the exact version you are using

      # Verify Zig installation
      - name: Verify Zig
        run: zig version

      # Build the project
      - name: Build project and run
        run: |
          cd dmalib
          zig build
          ./zig-out/bin/dmalib

  order-book-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up GHC and Cabal using GHCup
        env:
          GHCUP_ALLOW_DOWNLOAD_SUGGESTED_GHC: "1"
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | bash -s -- --yes

          source $HOME/.ghcup/env

          ghcup install ghc 9.6.4

          ghcup set ghc 9.6.4

          ghcup install cabal

          ghcup set cabal

          ghc --version
          cabal --version

      - name: Setup Environment Variables
        run: |
          echo "export PATH=$HOME/.ghcup/bin:$PATH" >> $GITHUB_ENV

      - name: Cabal Setup
        run: |
          cd cores/pipelined_order_book
          cabal update
          cabal install --only-dependencies

      - name: Cabal Build & Test
        run: |
          cabal update
          cabal build
          cabal testzig-out/bin/dmalib
