name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pipebomb:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y verilator make g++

      - name: Lint RTL
        run: |
          cd pipebomb
          make lint

      - name: Build & Run (default TB)
        run: |
          cd pipebomb
          make test

      - name: Build & Run (FST trace)
        run: |
          cd pipebomb
          make clean
          make test TRACE_FMT=fst

  itch_streamgen:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v3

      - name: Download Dependencies
        run: |
          sudo apt-get install ninja-build
          sudo apt-get install valgrind

      - name: Configure Build Directory
        run: |
          cd itch_streamgen
          mkdir -p build
          cmake -G Ninja -S . -B build

      - name: Build
        run: |
          cd itch_streamgen
          ninja -C build

      - name: Run Unit Tests
        run: |
          cd itch_streamgen
          ninja runtests -C build
          ninja memcheck -C build

      - name: Run Valgrind
        run: |
          cd itch_streamgen
          ninja valgrind -C build
